// ======================================
//  Variables
// ======================================

$teal: #58e1c1;
$grey: #777;
$light-blue: #51ddfc;
$white: #fff;
$light-red: #e4757a;
$light-purple: #927bc1;
$light-green: #63cc82;
$light-orange: #fd7856;
$break-point: 768px;
