/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq($break-point) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered {
  @include mq($break-point) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq($break-point) {
    flex-direction: row;
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;

  @include mq($break-point) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}

[class^="col"] + [class^="col"] {
  @include mq($break-point) {
    margin-left: 10px;
  }
}

@for $i from 1 through 12 {
  @include mq($break-point) {
    .col-#{$i} {
      flex-basis: round((8.33333333333% * $i) * 1000) / 1000;
    }
  }
}

.theme.col-1 {
  background-color: $light-purple;
}

.theme.col-2 {
  background-color: $light-orange;
}

.theme.col-3 {
  background-color: #deb2ee;
}

.theme.col-4 {
  background-color: #7ee6fd;
}

.theme.col-5 {
  background-color: #88d9a0;
}

.theme.col-6 {
  background-color: #4da2bb;
}

.theme.col-7 {
  background-color: #ec9fa3;
}

.theme.col-8 {
  background-color: #fd9f85;
}

.theme.col-9 {
  background-color: $light-red;
}

.theme.col-10 {
  background-color: $light-green;
}

.theme.col-11 {
  background-color: $light-blue;
}

.theme.col-12 {
  background-color: #80e8d1;
}

.card {
  flex-basis: 100%;
}
